<h1> <%= @cocktail.name %> </h1>

<% if @cocktail.picture.attached? %>
  <%= cl_image_tag @cocktail.picture.key, height: 300, width: 400, crop: :fill %>
<% end %>


<h4> Ingredients : </h4>
<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
  <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
  <br>
<% end %>

<br>
<%= link_to "Back to list", cocktails_path %>
<br> <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
